Repository json-q/sqi-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache, prettier --write

fix: compiler error
  packages/sqi-web/src/tag/Tag.tsx
  packages/sqi-web/src/tag/__tests__/tag.test.tsx
  packages/sqi-web/src/tag/style/_mixin.scss
  packages/sqi-web/src/tag/style/_var.scss
  packages/sqi-web/src/tag/style/index.scss
  packages/sqi-web/src/tag/style/index.ts
  packages/sqi-web/src/tag/type.ts
Due: eslint --fix --cache, prettier --write

feat: add tag component (#50)
  packages/sqi-web/src/config-provider/type.ts
  packages/sqi-web/src/index.ts
  packages/sqi-web/src/tag/Tag.tsx
  packages/sqi-web/src/tag/__tests__/__snapshots__/tag.test.tsx.snap
  packages/sqi-web/src/tag/__tests__/tag.test.tsx
  packages/sqi-web/src/tag/demos/base.tsx
  packages/sqi-web/src/tag/demos/custom-color.tsx
  packages/sqi-web/src/tag/demos/edit.tsx
  packages/sqi-web/src/tag/demos/size.tsx
  packages/sqi-web/src/tag/index.md
  packages/sqi-web/src/tag/index.ts
  packages/sqi-web/src/tag/style/_mixin.scss
  packages/sqi-web/src/tag/style/_var.scss
  packages/sqi-web/src/tag/style/index.scss
  packages/sqi-web/src/tag/style/index.ts
  packages/sqi-web/src/tag/type.ts
Due: eslint --fix --cache, prettier --write

format: code format
  packages/sqi-web/src/checkbox/Checkbox.tsx
  packages/sqi-web/src/checkbox/CheckboxGroup.tsx
  packages/sqi-web/src/divider/Divider.tsx
  packages/sqi-web/src/input/Input.tsx
  packages/sqi-web/src/space/Space.tsx
  packages/sqi-web/src/tag/Tag.tsx
  packages/sqi-web/src/tooltip/Tooltip.tsx
  packages/sqi-web/src/trigger/Trigger.tsx
Due: eslint --fix --cache, prettier --write

chore(deps): update dependencies
  package.json
  packages/sqi-dumi/package.json
  packages/sqi-hooks/package.json
  packages/sqi-icons/package.json
  packages/sqi-web/package.json
  pnpm-lock.yaml
Due: prettier --write

fix(tag): incorrect size style
  packages/sqi-web/src/tag/style/_var.scss
  packages/sqi-web/src/tooltip/demos/trigger-type.tsx
Due: eslint --fix --cache, prettier --write

chore(deps): update dependencies
  package.json
  packages/sqi-dumi/package.json
  packages/sqi-icons/package.json
  packages/sqi-web/package.json
  pnpm-lock.yaml
Due: prettier --write

refactor: popper position logic rewrite
  packages/sqi-web/src/_util/deepEqual.ts
  packages/sqi-web/src/popup/demos/styles.tsx
  packages/sqi-web/src/popup/index.md
  packages/sqi-web/src/popup/style/_var.scss
  packages/sqi-web/src/popup/style/index.scss
  packages/sqi-web/src/trigger/Trigger.tsx
  packages/sqi-web/src/trigger/demos/motion.css
  packages/sqi-web/src/trigger/lite-position/autoUpdate.ts
  packages/sqi-web/src/trigger/lite-position/computePosition.ts
  packages/sqi-web/src/trigger/lite-position/constants/index.ts
  packages/sqi-web/src/trigger/lite-position/core/computePopperCoords.ts
  packages/sqi-web/src/trigger/lite-position/index.ts
  packages/sqi-web/src/trigger/lite-position/middleware/arrow.ts
  packages/sqi-web/src/trigger/lite-position/middleware/flip.ts
  packages/sqi-web/src/trigger/lite-position/middleware/offset.ts
  packages/sqi-web/src/trigger/lite-position/middleware/shift.ts
  packages/sqi-web/src/trigger/lite-position/polyfill.ts
  packages/sqi-web/src/trigger/lite-position/type.ts
  packages/sqi-web/src/trigger/lite-position/utils/boundary.ts
  packages/sqi-web/src/trigger/lite-position/utils/dom.ts
  packages/sqi-web/src/trigger/lite-position/utils/getBoundingClientRect.ts
  packages/sqi-web/src/trigger/lite-position/utils/placement.ts
  packages/sqi-web/src/trigger/lite-position/utils/rectToClientRect.ts
  packages/sqi-web/src/trigger/type.ts
  packages/sqi-web/src/trigger/utils/collectScrollParentList.ts
  packages/sqi-web/src/trigger/utils/computedPosition.ts
  packages/sqi-web/src/trigger/utils/debounce.ts
  packages/sqi-web/src/trigger/utils/dom.ts
  packages/sqi-web/src/trigger/utils/format.ts
  packages/sqi-web/src/trigger/utils/index.ts
Due: eslint --fix --cache, prettier --write

chore: clean code
  packages/sqi-web/src/trigger/demos/motion.css
  packages/sqi-web/src/trigger/index.md
  packages/sqi-web/src/trigger/style/index.scss
Due: prettier --write

chore: improve code & update motion style
  packages/sqi-web/src/popup/style/_var.scss
  packages/sqi-web/src/popup/style/index.scss
  packages/sqi-web/src/style/_variables.scss
  packages/sqi-web/src/trigger/Trigger.tsx
  packages/sqi-web/src/trigger/demos/popper.tsx
Due: eslint --fix --cache, prettier --write

chore: update dependencies
  package.json
  packages/sqi-dumi/package.json
  packages/sqi-hooks/package.json
  packages/sqi-web/package.json
  pnpm-lock.yaml
Due: prettier --write

fix
  packages/sqi-web/src/popup/index.md
  packages/sqi-web/src/trigger/index.md
  packages/sqi-web/src/trigger/lite-position/polyfill.ts
  packages/sqi-web/src/trigger/lite-position/utils/boundary.ts
Due: eslint --fix --cache, prettier --write

refactor: floating element position logic (#51)
  package.json
  packages/sqi-dumi/package.json
  packages/sqi-hooks/package.json
  packages/sqi-web/package.json
  packages/sqi-web/src/_util/deepEqual.ts
  packages/sqi-web/src/popup/demos/styles.tsx
  packages/sqi-web/src/popup/index.md
  packages/sqi-web/src/popup/style/_var.scss
  packages/sqi-web/src/popup/style/index.scss
  packages/sqi-web/src/style/_variables.scss
  packages/sqi-web/src/trigger/Trigger.tsx
  packages/sqi-web/src/trigger/demos/motion.css
  packages/sqi-web/src/trigger/demos/popper.tsx
  packages/sqi-web/src/trigger/index.md
  packages/sqi-web/src/trigger/lite-position/autoUpdate.ts
  packages/sqi-web/src/trigger/lite-position/computePosition.ts
  packages/sqi-web/src/trigger/lite-position/constants/index.ts
  packages/sqi-web/src/trigger/lite-position/core/computePopperCoords.ts
  packages/sqi-web/src/trigger/lite-position/index.ts
  packages/sqi-web/src/trigger/lite-position/middleware/arrow.ts
  packages/sqi-web/src/trigger/lite-position/middleware/flip.ts
  packages/sqi-web/src/trigger/lite-position/middleware/offset.ts
  packages/sqi-web/src/trigger/lite-position/middleware/shift.ts
  packages/sqi-web/src/trigger/lite-position/polyfill.ts
  packages/sqi-web/src/trigger/lite-position/type.ts
  packages/sqi-web/src/trigger/lite-position/utils/boundary.ts
  packages/sqi-web/src/trigger/lite-position/utils/dom.ts
  packages/sqi-web/src/trigger/lite-position/utils/getBoundingClientRect.ts
  packages/sqi-web/src/trigger/lite-position/utils/placement.ts
  packages/sqi-web/src/trigger/lite-position/utils/rectToClientRect.ts
  packages/sqi-web/src/trigger/style/index.scss
  packages/sqi-web/src/trigger/type.ts
  packages/sqi-web/src/trigger/utils/collectScrollParentList.ts
  packages/sqi-web/src/trigger/utils/computedPosition.ts
  packages/sqi-web/src/trigger/utils/debounce.ts
  packages/sqi-web/src/trigger/utils/dom.ts
  packages/sqi-web/src/trigger/utils/format.ts
  packages/sqi-web/src/trigger/utils/index.ts
  pnpm-lock.yaml
Due: eslint --fix --cache, prettier --write

fix: incorrect position & only detect nearest element
  packages/sqi-dumi/.dumi/global.css
  packages/sqi-web/src/trigger/lite-position/autoUpdate.ts
  packages/sqi-web/src/trigger/lite-position/computePosition.ts
  packages/sqi-web/src/trigger/lite-position/middleware/flip.ts
  packages/sqi-web/src/trigger/lite-position/utils/boundary.ts
  packages/sqi-web/src/trigger/lite-position/utils/dom.ts
Due: eslint --fix --cache, prettier --write

chore: bump rslib v0.15 & enable node native loader
  package.json
  packages/sqi-hooks/package.json
  packages/sqi-icons/package.json
  packages/sqi-utils/package.json
  packages/sqi-web/gulpfile.cjs
  packages/sqi-web/package.json
  pnpm-lock.yaml
Due: prettier --write

chore: update snapshot
  packages/sqi-web/src/checkbox/__tests__/__snapshots__/checkbox-group.test.tsx.snap
  packages/sqi-web/src/grid/__tests__/__snapshots__/col.test.tsx.snap
  packages/sqi-web/src/grid/__tests__/__snapshots__/row.test.tsx.snap
  packages/sqi-web/src/popup/__tests__/popup.test.tsx
  packages/sqi-web/src/radio/__tests__/__snapshots__/radio-group.test.tsx.snap
  packages/sqi-web/src/radio/__tests__/__snapshots__/radio.test.tsx.snap
  packages/sqi-web/src/tag/__tests__/__snapshots__/tag.test.tsx.snap
  packages/sqi-web/src/tooltip/__tests__/__snapshots__/tooltip.test.tsx.snap
  packages/sqi-web/src/trigger/__tests__/trigger.test.tsx
  packages/sqi-web/src/trigger/lite-position/utils/getBoundingClientRect.ts
Due: eslint --fix --cache, prettier --write

chore: bump node version in ci & improve turbo task schedule
  .github/workflows/gh-pages.yml
  turbo.json
Due: none

chore(deps): update dependencies
  examples/with-next/package.json
  examples/with-rsbuild/package.json
  examples/with-vite/eslint.config.js
  examples/with-vite/package.json
  package.json
  pnpm-lock.yaml
Due: none

chore: only supports modern browsers
  packages/sqi-dumi/docs/guide/getting-started.md
  packages/sqi-hooks/package.json
  packages/sqi-hooks/rslib.config.ts
  packages/sqi-hooks/src/useResizeObserverRect.ts
  packages/sqi-icons/rslib.config.ts
  packages/sqi-utils/package.json
  packages/sqi-utils/rslib.config.ts
  packages/sqi-web/.browserslistrc
  packages/sqi-web/package.json
  packages/sqi-web/rslib.config.ts
  packages/sqi-web/src/space/Space.tsx
  packages/sqi-web/src/space/demos/wrap.tsx
  packages/sqi-web/src/trigger/index.md
  pnpm-lock.yaml
  umd-test.html
Due: eslint --fix --cache, prettier --write

chore: lite-position use package
  packages/sqi-web/package.json
  packages/sqi-web/src/trigger/Trigger.tsx
  packages/sqi-web/src/trigger/index.md
  packages/sqi-web/src/trigger/lite-position/autoUpdate.ts
  packages/sqi-web/src/trigger/lite-position/computePosition.ts
  packages/sqi-web/src/trigger/lite-position/constants/index.ts
  packages/sqi-web/src/trigger/lite-position/core/computePopperCoords.ts
  packages/sqi-web/src/trigger/lite-position/index.ts
  packages/sqi-web/src/trigger/lite-position/middleware/arrow.ts
  packages/sqi-web/src/trigger/lite-position/middleware/flip.ts
  packages/sqi-web/src/trigger/lite-position/middleware/offset.ts
  packages/sqi-web/src/trigger/lite-position/middleware/shift.ts
  packages/sqi-web/src/trigger/lite-position/polyfill.ts
  packages/sqi-web/src/trigger/lite-position/type.ts
  packages/sqi-web/src/trigger/lite-position/utils/boundary.ts
  packages/sqi-web/src/trigger/lite-position/utils/dom.ts
  packages/sqi-web/src/trigger/lite-position/utils/getBoundingClientRect.ts
  packages/sqi-web/src/trigger/lite-position/utils/placement.ts
  packages/sqi-web/src/trigger/lite-position/utils/rectToClientRect.ts
  pnpm-lock.yaml
Due: eslint --fix --cache, prettier --write

docs: update
  package.json
  packages/sqi-web/src/grid/index.md
Due: prettier --write

chore: update dependencies
  package.json
  pnpm-lock.yaml
Due: none

chore: command
  packages/sqi-dumi/package.json
Due: prettier --write

feat: add most base toaster
  packages/sqi-web/src/config-provider/type.ts
  packages/sqi-web/src/index.ts
  packages/sqi-web/src/toaster/Toaster.tsx
  packages/sqi-web/src/toaster/demos/base.tsx
  packages/sqi-web/src/toaster/index.md
  packages/sqi-web/src/toaster/index.ts
  packages/sqi-web/src/toaster/state.ts
  packages/sqi-web/src/toaster/style/index.scss
  packages/sqi-web/src/toaster/style/index.ts
  packages/sqi-web/src/toaster/type.ts
Due: eslint --fix --cache, prettier --write

chore: update all dependencies & enable rslib experiments.advancedEsm
  examples/with-next/package.json
  examples/with-rsbuild/package.json
  examples/with-vite/package.json
  package.json
  packages/sqi-hooks/rslib.config.ts
  packages/sqi-icons/package.json
  packages/sqi-icons/rslib.config.ts
  packages/sqi-utils/rslib.config.ts
  packages/sqi-web/package.json
  packages/sqi-web/rslib.config.ts
  pnpm-lock.yaml
Due: eslint --fix --cache, prettier --write

chore: enable mako in dumi
  packages/sqi-dumi/.dumirc.ts
Due: eslint --fix --cache, prettier --write

Path conditions:
  eslint --fix --cache: any of: packages/**/*.{js,jsx,ts,tsx}
  prettier --write: ((any of: packages/**/*.{js,jsx,ts,tsx}) or (any of: packages/**/package.json)) or (any of: **/*.md)
