Repository json-q/sqi-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache, prettier --write

.lintstagedrc.json:

{
  "packages/**/*.{js,jsx,ts,tsx}": ["eslint --fix --cache", "prettier --write"],
  "packages/**/package.json": ["prettier --write"],
  "**/*.md": ["prettier --write"]
}

fix: lockfile
  pnpm-lock.yaml
Due: none

fix(lint): ignore error on check list is empty
  README.md
  packages/sqi-hooks/package.json
  packages/sqi-icons/package.json
  packages/sqi-utils/package.json
  packages/sqi-web/package.json
Due: prettier --write

chore: clean code
  packages/sqi-web/src/_common/ResizeObserver.tsx
Due: eslint --fix --cache, prettier --write

fix(CheckboxGroup): infinite
  packages/sqi-web/src/checkbox/CheckboxGroup.tsx
Due: eslint --fix --cache, prettier --write

fix(ResizeObserver): infinite rendering
  packages/sqi-web/src/_common/ResizeObserver.tsx
  packages/sqi-web/src/alert/index.md
Due: eslint --fix --cache, prettier --write

fix(ResizeObserver): infinite rendering (#37)
  packages/sqi-web/src/_common/ResizeObserver.tsx
  packages/sqi-web/src/alert/index.md
Due: eslint --fix --cache, prettier --write

chore: add popup & improve trigger
  packages/sqi-dumi/.dumi/global.css
  packages/sqi-web/src/_common/Portal.tsx
  packages/sqi-web/src/config-provider/type.ts
  packages/sqi-web/src/index.ts
  packages/sqi-web/src/popup/Popup.tsx
  packages/sqi-web/src/popup/demos/base.tsx
  packages/sqi-web/src/popup/demos/direction.tsx
  packages/sqi-web/src/popup/demos/disabled.tsx
  packages/sqi-web/src/popup/demos/shift.tsx
  packages/sqi-web/src/popup/demos/trigger-type.tsx
  packages/sqi-web/src/popup/index.md
  packages/sqi-web/src/popup/index.ts
  packages/sqi-web/src/popup/style/_var.scss
  packages/sqi-web/src/popup/style/index.scss
  packages/sqi-web/src/popup/style/index.ts
  packages/sqi-web/src/popup/type.ts
  packages/sqi-web/src/style/_motion.scss
  packages/sqi-web/src/style/_variables.scss
  packages/sqi-web/src/style/index.scss
  packages/sqi-web/src/style/theme/_dark.scss
  packages/sqi-web/src/style/theme/_light.scss
  packages/sqi-web/src/trigger/Trigger.tsx
  packages/sqi-web/src/trigger/hooks/useTrigger.ts
  packages/sqi-web/src/trigger/index.md
  packages/sqi-web/src/trigger/type.ts
  packages/sqi-web/src/trigger/utils/computedPosition.ts
Due: eslint --fix --cache, prettier --write

fix: nested popup render exception
  packages/sqi-web/src/popup/Popup.tsx
  packages/sqi-web/src/popup/demos/nest.tsx
  packages/sqi-web/src/popup/index.md
  packages/sqi-web/src/trigger/Trigger.tsx
  packages/sqi-web/src/trigger/type.ts
  packages/sqi-web/src/trigger/utils/collectScrollParentList.ts
Due: eslint --fix --cache, prettier --write

feat: support out of focus without closing
  packages/sqi-web/src/popup/Popup.tsx
  packages/sqi-web/src/popup/demos/nest.tsx
  packages/sqi-web/src/popup/index.md
  packages/sqi-web/src/popup/style/_var.scss
  packages/sqi-web/src/popup/type.ts
  packages/sqi-web/src/trigger/Trigger.tsx
  packages/sqi-web/src/trigger/hooks/useTrigger.ts
  packages/sqi-web/src/trigger/index.md
  packages/sqi-web/src/trigger/type.ts
Due: eslint --fix --cache, prettier --write

fix
  packages/sqi-web/src/popup/index.md
  packages/sqi-web/src/popup/style/index.scss
Due: prettier --write

fix: eventListener memory leak, optimize Trigger performance
  packages/sqi-web/src/trigger/Trigger.tsx
  packages/sqi-web/src/trigger/demos/popper.tsx
Due: eslint --fix --cache, prettier --write

clean code
  packages/sqi-web/src/trigger/Trigger.tsx
Due: eslint --fix --cache, prettier --write

feat: add popup (#38)
  packages/sqi-dumi/.dumi/global.css
  packages/sqi-web/src/_common/Portal.tsx
  packages/sqi-web/src/config-provider/type.ts
  packages/sqi-web/src/index.ts
  packages/sqi-web/src/popup/Popup.tsx
  packages/sqi-web/src/popup/demos/base.tsx
  packages/sqi-web/src/popup/demos/direction.tsx
  packages/sqi-web/src/popup/demos/disabled.tsx
  packages/sqi-web/src/popup/demos/nest.tsx
  packages/sqi-web/src/popup/demos/shift.tsx
  packages/sqi-web/src/popup/demos/trigger-type.tsx
  packages/sqi-web/src/popup/index.md
  packages/sqi-web/src/popup/index.ts
  packages/sqi-web/src/popup/style/_var.scss
  packages/sqi-web/src/popup/style/index.scss
  packages/sqi-web/src/popup/style/index.ts
  packages/sqi-web/src/popup/type.ts
  packages/sqi-web/src/style/_motion.scss
  packages/sqi-web/src/style/_variables.scss
  packages/sqi-web/src/style/index.scss
  packages/sqi-web/src/style/theme/_dark.scss
  packages/sqi-web/src/style/theme/_light.scss
  packages/sqi-web/src/trigger/Trigger.tsx
  packages/sqi-web/src/trigger/demos/popper.tsx
  packages/sqi-web/src/trigger/hooks/useTrigger.ts
  packages/sqi-web/src/trigger/index.md
  packages/sqi-web/src/trigger/type.ts
  packages/sqi-web/src/trigger/utils/collectScrollParentList.ts
  packages/sqi-web/src/trigger/utils/computedPosition.ts
Due: eslint --fix --cache, prettier --write

docs: improve doc
  packages/sqi-web/src/popup/demos/direction.tsx
  packages/sqi-web/src/trigger/demos/basic-trigger.tsx
  packages/sqi-web/src/trigger/demos/demo.module.css
  packages/sqi-web/src/trigger/demos/destroy-exit.tsx
  packages/sqi-web/src/trigger/demos/focus-outside-click.tsx
  packages/sqi-web/src/trigger/demos/motion.css
  packages/sqi-web/src/trigger/index.md
Due: eslint --fix --cache, prettier --write

docs(example): add vite example
  biome.json
  examples/with-next/README.md
  examples/with-rsbuild/README.md
  examples/with-rsbuild/src/index.tsx
  examples/with-vite/.gitignore
  examples/with-vite/README.md
  examples/with-vite/eslint.config.js
  examples/with-vite/index.html
  examples/with-vite/package.json
  examples/with-vite/public/vite.svg
  examples/with-vite/src/App.css
  examples/with-vite/src/App.tsx
  examples/with-vite/src/assets/react.svg
  examples/with-vite/src/components/Test.tsx
  examples/with-vite/src/index.css
  examples/with-vite/src/main.tsx
  examples/with-vite/src/vite-env.d.ts
  examples/with-vite/tsconfig.app.json
  examples/with-vite/tsconfig.json
  examples/with-vite/tsconfig.node.json
  examples/with-vite/vite.config.ts
  pnpm-lock.yaml
Due: prettier --write

fix: typo
  examples/with-next/README.md
Due: prettier --write

docs: add example with vite (#39)
  biome.json
  examples/with-next/README.md
  examples/with-rsbuild/README.md
  examples/with-rsbuild/src/index.tsx
  examples/with-vite/.gitignore
  examples/with-vite/README.md
  examples/with-vite/eslint.config.js
  examples/with-vite/index.html
  examples/with-vite/package.json
  examples/with-vite/public/vite.svg
  examples/with-vite/src/App.css
  examples/with-vite/src/App.tsx
  examples/with-vite/src/assets/react.svg
  examples/with-vite/src/components/Test.tsx
  examples/with-vite/src/index.css
  examples/with-vite/src/main.tsx
  examples/with-vite/src/vite-env.d.ts
  examples/with-vite/tsconfig.app.json
  examples/with-vite/tsconfig.json
  examples/with-vite/tsconfig.node.json
  examples/with-vite/vite.config.ts
  pnpm-lock.yaml
Due: prettier --write

chore(workflow): bump node version in action
  .github/workflows/gh-pages.yml
Due: none

docs: typo
  examples/with-rsbuild/README.md
  packages/sqi-web/src/divider/index.md
  packages/sqi-web/src/popup/demos/trigger-type.tsx
Due: eslint --fix --cache, prettier --write

chore: only dev and build use turbo schedule tasks
  package.json
  packages/sqi-hooks/package.json
  packages/sqi-icons/package.json
  packages/sqi-utils/package.json
  turbo.json
Due: prettier --write

chore: only dev and build use turbo schedule tasks (#40)
  package.json
  packages/sqi-hooks/package.json
  packages/sqi-icons/package.json
  packages/sqi-utils/package.json
  turbo.json
Due: prettier --write

docs: improve document
  packages/sqi-web/src/popup/demos/base.tsx
  packages/sqi-web/src/popup/demos/disabled.tsx
  packages/sqi-web/src/popup/index.md
  packages/sqi-web/src/trigger/index.md
Due: eslint --fix --cache, prettier --write

docs: improve document (#41)
  packages/sqi-web/src/popup/demos/base.tsx
  packages/sqi-web/src/popup/demos/disabled.tsx
  packages/sqi-web/src/popup/index.md
  packages/sqi-web/src/trigger/index.md
Due: eslint --fix --cache, prettier --write

fix: optimize usePrevious
  packages/sqi-hooks/src/useMergeState.ts
  packages/sqi-hooks/src/usePrevious.ts
  packages/sqi-web/src/checkbox/Checkbox.tsx
Due: eslint --fix --cache, prettier --write

fix: optimize usePrevious (#42)
  packages/sqi-hooks/src/useMergeState.ts
  packages/sqi-hooks/src/usePrevious.ts
  packages/sqi-web/src/checkbox/Checkbox.tsx
Due: eslint --fix --cache, prettier --write

Revert "docs: improve document (#41)"
  packages/sqi-web/src/popup/demos/base.tsx
  packages/sqi-web/src/popup/demos/disabled.tsx
  packages/sqi-web/src/popup/index.md
  packages/sqi-web/src/trigger/index.md
Due: eslint --fix --cache, prettier --write
