Repository json-q/sqi-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache, prettier --write

chore(workflow): try add gh-pages
  .github/workflows/gh-pages.yml
Due: none

chore(workflow): fix
  .github/workflows/gh-pages.yml
Due: none

chore(workflow): fix
  packages/sqi-dumi/.dumirc.ts
Due: eslint --fix --cache, prettier --write

chore(workflow): fix
  .github/workflows/gh-pages.yml
  package.json
  turbo.json
Due: none

chore(workflow): add pnpm cache and lockfile
  .github/workflows/gh-pages.yml
  .gitignore
  package.json
  pnpm-lock.yaml
Due: none

deploy: 5b7fbe382379ca9815456eaecbe8c604fadc888e
  404.html
  components/alert/index.html
  components/button/index.html
  components/config-provider/index.html
  components/divider/index.html
  components/icon/index.html
  components/space/index.html
  index.html
  umi.e9de5f73.js
  ~demos/:id/index.html
  ~demos/sqi-web-src-alert-demo-action/index.html
  ~demos/sqi-web-src-alert-demo-base/index.html
  ~demos/sqi-web-src-alert-demo-type/index.html
  ~demos/sqi-web-src-button-demo-base/index.html
  ~demos/sqi-web-src-button-demo-disabled/index.html
  ~demos/sqi-web-src-button-demo-loading/index.html
  ~demos/sqi-web-src-button-demo-size/index.html
  ~demos/sqi-web-src-button-demo-variant/index.html
  ~demos/sqi-web-src-config-provider-demo-base/index.html
  ~demos/sqi-web-src-config-provider-demo-nest/index.html
  ~demos/sqi-web-src-divider-demo-base/index.html
  ~demos/sqi-web-src-divider-demo-vertical/index.html
  ~demos/sqi-web-src-divider-demo-with-text/index.html
  ~demos/sqi-web-src-icon-demo-base/index.html
  ~demos/sqi-web-src-icon-demo-color/index.html
  ~demos/sqi-web-src-icon-demo-custom/index.html
  ~demos/sqi-web-src-space-demo-align/index.html
  ~demos/sqi-web-src-space-demo-base/index.html
  ~demos/sqi-web-src-space-demo-direction-vertical/index.html
  ~demos/sqi-web-src-space-demo-split/index.html
  ~demos/sqi-web-src-space-demo-wrap/index.html
Due: none

doc: add blog
  README.md
  packages/sqi-dumi/docs/blog/tech.md
Due: prettier --write

deploy: 1ce9e00caa9470bf3548eff549c8fdab3d5fb25a
  blog/tech/index.html
  components/alert/index.html
  components/button/index.html
  components/config-provider/index.html
  components/divider/index.html
  components/icon/index.html
  components/space/index.html
  docs__blog__tech.md.33be0665.chunk.css
  docs__blog__tech.md.3efafe35.async.js
  index.html
  meta__docs.3f5131b8.async.js
  meta__docs.a04feb3f.async.js
  preload_helper.1970cb60.js
  preload_helper.c9fe74f1.js
  umi.ade98f0f.js
  umi.e9de5f73.js
  ~demos/:id/index.html
  ~demos/sqi-web-src-alert-demo-action/index.html
  ~demos/sqi-web-src-alert-demo-base/index.html
  ~demos/sqi-web-src-alert-demo-type/index.html
  ~demos/sqi-web-src-button-demo-base/index.html
  ~demos/sqi-web-src-button-demo-disabled/index.html
  ~demos/sqi-web-src-button-demo-loading/index.html
  ~demos/sqi-web-src-button-demo-size/index.html
  ~demos/sqi-web-src-button-demo-variant/index.html
  ~demos/sqi-web-src-config-provider-demo-base/index.html
  ~demos/sqi-web-src-config-provider-demo-nest/index.html
  ~demos/sqi-web-src-divider-demo-base/index.html
  ~demos/sqi-web-src-divider-demo-vertical/index.html
  ~demos/sqi-web-src-divider-demo-with-text/index.html
  ~demos/sqi-web-src-icon-demo-base/index.html
  ~demos/sqi-web-src-icon-demo-color/index.html
  ~demos/sqi-web-src-icon-demo-custom/index.html
  ~demos/sqi-web-src-space-demo-align/index.html
  ~demos/sqi-web-src-space-demo-base/index.html
  ~demos/sqi-web-src-space-demo-direction-vertical/index.html
  ~demos/sqi-web-src-space-demo-split/index.html
  ~demos/sqi-web-src-space-demo-wrap/index.html
Due: none

feat: add with-next example to test import style in ts file
  examples/with-next/.gitignore
  examples/with-next/README.md
  examples/with-next/eslint.config.mjs
  examples/with-next/next.config.ts
  examples/with-next/package.json
  examples/with-next/postcss.config.mjs
  examples/with-next/public/file.svg
  examples/with-next/public/globe.svg
  examples/with-next/public/next.svg
  examples/with-next/public/vercel.svg
  examples/with-next/public/window.svg
  examples/with-next/src/app/favicon.ico
  examples/with-next/src/app/globals.css
  examples/with-next/src/app/layout.tsx
  examples/with-next/src/app/page.tsx
  examples/with-next/src/components/Test.tsx
  examples/with-next/tsconfig.json
  examples/with-rspack/.gitkeep
  package.json
  packages/sqi-web/package.json
  packages/sqi-web/rslib.config.ts
  packages/sqi-web/src/alert/Alert.tsx
  packages/sqi-web/src/button/Button.tsx
  packages/sqi-web/src/button/index.ts
  packages/sqi-web/src/config-provider/index.ts
  packages/sqi-web/src/divider/Divider.tsx
  packages/sqi-web/src/divider/index.ts
  packages/sqi-web/src/index.ts
  packages/sqi-web/src/space/Space.tsx
  packages/sqi-web/src/space/index.ts
  packages/sqi-web/tsconfig.build.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: eslint --fix --cache, prettier --write

fix(type): remove type
  packages/sqi-icons/scripts/genIcon.ts
  packages/sqi-icons/src/components/Icon.tsx
  packages/sqi-icons/src/icons/AddIcon.tsx
  packages/sqi-icons/src/icons/CheckCircleFilledIcon.tsx
  packages/sqi-icons/src/icons/ChevronDownIcon.tsx
  packages/sqi-icons/src/icons/CloseCircleFilledIcon.tsx
  packages/sqi-icons/src/icons/CloseIcon.tsx
  packages/sqi-icons/src/icons/InfoCircleFilledIcon.tsx
  packages/sqi-icons/src/icons/LoadingIcon.tsx
  packages/sqi-icons/src/icons/SearchIcon.tsx
  packages/sqi-icons/src/icons/UploadIcon.tsx
  packages/sqi-icons/src/icons/WarnCircleFilledIcon.tsx
Due: eslint --fix --cache, prettier --write

fix: build error
  package.json
  packages/sqi-web/package.json
Due: prettier --write

fix(sqi-web): script execution sequence
  packages/sqi-web/package.json
Due: prettier --write

fix(build): remove internal import style
  examples/with-next/src/app/globals.css
  packages/sqi-web/rslib.config.ts
  packages/sqi-web/src/button/index.ts
  packages/sqi-web/src/config-provider/style/index.scss
  packages/sqi-web/src/divider/index.ts
  packages/sqi-web/src/index.ts
  packages/sqi-web/src/space/index.ts
  packages/sqi-web/tsconfig.build.json
Due: eslint --fix --cache, prettier --write

deploy: b9a687b7c78ade5e7b0df18e1b8854fad6b68b45
  404.html
  blog/tech/index.html
  components/alert/index.html
  components/button/index.html
  components/config-provider/index.html
  components/divider/index.html
  components/icon/index.html
  components/space/index.html
  demos.465e8ec5.async.js
  demos.819577eb.async.js
  index.html
  meta__.1852b00c.async.js
  meta__.433688f4.async.js
  meta__.9343018e.chunk.css
  umi.1cd91ce5.js
  ~demos/:id/index.html
  ~demos/sqi-web-src-alert-demo-action/index.html
  ~demos/sqi-web-src-alert-demo-base/index.html
  ~demos/sqi-web-src-alert-demo-type/index.html
  ~demos/sqi-web-src-button-demo-base/index.html
  ~demos/sqi-web-src-button-demo-disabled/index.html
  ~demos/sqi-web-src-button-demo-loading/index.html
  ~demos/sqi-web-src-button-demo-size/index.html
  ~demos/sqi-web-src-button-demo-variant/index.html
  ~demos/sqi-web-src-config-provider-demo-base/index.html
  ~demos/sqi-web-src-config-provider-demo-nest/index.html
  ~demos/sqi-web-src-divider-demo-base/index.html
  ~demos/sqi-web-src-divider-demo-vertical/index.html
  ~demos/sqi-web-src-divider-demo-with-text/index.html
  ~demos/sqi-web-src-icon-demo-base/index.html
  ~demos/sqi-web-src-icon-demo-color/index.html
  ~demos/sqi-web-src-icon-demo-custom/index.html
  ~demos/sqi-web-src-space-demo-align/index.html
  ~demos/sqi-web-src-space-demo-base/index.html
  ~demos/sqi-web-src-space-demo-direction-vertical/index.html
  ~demos/sqi-web-src-space-demo-split/index.html
  ~demos/sqi-web-src-space-demo-wrap/index.html
Due: none

doc: improve use with next example
  examples/with-next/package.json
  examples/with-next/src/app/globals.css
  examples/with-next/src/app/layout.tsx
  examples/with-next/src/app/page.tsx
  packages/sqi-web/gulpfile.js
  packages/sqi-web/package.json
  packages/sqi-web/src/style/reset.scss
  pnpm-lock.yaml
Due: eslint --fix --cache, prettier --write

deploy: 3fd9b8c69a72f8b62b9fdf3e4fba4155ffb9341f
  404.html
  blog/tech/index.html
  components/alert/index.html
  components/button/index.html
  components/config-provider/index.html
  components/divider/index.html
  components/icon/index.html
  components/space/index.html
  dumi__theme__layouts__GlobalLayout.22d2fd1a.chunk.css
  dumi__theme__layouts__GlobalLayout.38bb87a4.chunk.css
  index.html
  preload_helper.5be9d2fc.js
  preload_helper.8a80d704.js
  umi.441fe8ef.js
  ~demos/:id/index.html
  ~demos/sqi-web-src-alert-demo-action/index.html
  ~demos/sqi-web-src-alert-demo-base/index.html
  ~demos/sqi-web-src-alert-demo-type/index.html
  ~demos/sqi-web-src-button-demo-base/index.html
  ~demos/sqi-web-src-button-demo-disabled/index.html
  ~demos/sqi-web-src-button-demo-loading/index.html
  ~demos/sqi-web-src-button-demo-size/index.html
  ~demos/sqi-web-src-button-demo-variant/index.html
  ~demos/sqi-web-src-config-provider-demo-base/index.html
  ~demos/sqi-web-src-config-provider-demo-nest/index.html
  ~demos/sqi-web-src-divider-demo-base/index.html
  ~demos/sqi-web-src-divider-demo-vertical/index.html
  ~demos/sqi-web-src-divider-demo-with-text/index.html
  ~demos/sqi-web-src-icon-demo-base/index.html
  ~demos/sqi-web-src-icon-demo-color/index.html
  ~demos/sqi-web-src-icon-demo-custom/index.html
  ~demos/sqi-web-src-space-demo-align/index.html
  ~demos/sqi-web-src-space-demo-base/index.html
  ~demos/sqi-web-src-space-demo-direction-vertical/index.html
  ~demos/sqi-web-src-space-demo-split/index.html
  ~demos/sqi-web-src-space-demo-wrap/index.html
Due: none

doc: add rsbuild example, add doc
  examples/with-rsbuild/.gitignore
  examples/with-rsbuild/README.md
  examples/with-rsbuild/package.json
  examples/with-rsbuild/rsbuild.config.ts
  examples/with-rsbuild/src/App.css
  examples/with-rsbuild/src/App.tsx
  examples/with-rsbuild/src/components/Test.tsx
  examples/with-rsbuild/src/env.d.ts
  examples/with-rsbuild/src/index.tsx
  examples/with-rsbuild/tsconfig.json
  examples/with-rspack/.gitkeep
  packages/sqi-dumi/docs/blog/tech.md
  packages/sqi-dumi/docs/guide/getting-started.md
  packages/sqi-web/src/alert/index.md
  packages/sqi-web/src/button/index.md
  packages/sqi-web/src/config-provider/index.md
  packages/sqi-web/src/divider/index.md
  packages/sqi-web/src/icon/index.md
  packages/sqi-web/src/space/index.md
  pnpm-lock.yaml
Due: prettier --write

feat: mark use clinet to be compatible with nextjs
  examples/with-next/package.json
  examples/with-next/src/components/Test.tsx
  packages/sqi-hooks/package.json
  packages/sqi-icons/scripts/genIcon.ts
  packages/sqi-icons/scripts/transSvgToComponent.ts
  packages/sqi-icons/src/components/Context.tsx
  packages/sqi-icons/src/components/Icon.tsx
  packages/sqi-icons/src/icons/AddIcon.tsx
  packages/sqi-icons/src/icons/CheckCircleFilledIcon.tsx
  packages/sqi-icons/src/icons/ChevronDownIcon.tsx
  packages/sqi-icons/src/icons/CloseCircleFilledIcon.tsx
  packages/sqi-icons/src/icons/CloseIcon.tsx
  packages/sqi-icons/src/icons/InfoCircleFilledIcon.tsx
  packages/sqi-icons/src/icons/LoadingIcon.tsx
  packages/sqi-icons/src/icons/SearchIcon.tsx
  packages/sqi-icons/src/icons/UploadIcon.tsx
  packages/sqi-icons/src/icons/WarnCircleFilledIcon.tsx
  packages/sqi-utils/package.json
  packages/sqi-web/src/alert/Alert.tsx
  packages/sqi-web/src/button/Button.tsx
  packages/sqi-web/src/config-provider/ConfigProvider.tsx
  packages/sqi-web/src/index.ts
  packages/sqi-web/src/space/Space.tsx
  umd-test.html
Due: eslint --fix --cache, prettier --write

doc: update example
  examples/with-next/package.json
Due: none

fix: remove global mark
  packages/sqi-web/src/index.ts
Due: eslint --fix --cache, prettier --write

feat: compat nextjs (#8)
  examples/with-next/src/components/Test.tsx
  packages/sqi-hooks/package.json
  packages/sqi-icons/scripts/genIcon.ts
  packages/sqi-icons/scripts/transSvgToComponent.ts
  packages/sqi-icons/src/components/Context.tsx
  packages/sqi-icons/src/components/Icon.tsx
  packages/sqi-icons/src/icons/AddIcon.tsx
  packages/sqi-icons/src/icons/CheckCircleFilledIcon.tsx
  packages/sqi-icons/src/icons/ChevronDownIcon.tsx
  packages/sqi-icons/src/icons/CloseCircleFilledIcon.tsx
  packages/sqi-icons/src/icons/CloseIcon.tsx
  packages/sqi-icons/src/icons/InfoCircleFilledIcon.tsx
  packages/sqi-icons/src/icons/LoadingIcon.tsx
  packages/sqi-icons/src/icons/SearchIcon.tsx
  packages/sqi-icons/src/icons/UploadIcon.tsx
  packages/sqi-icons/src/icons/WarnCircleFilledIcon.tsx
  packages/sqi-utils/package.json
  packages/sqi-web/src/alert/Alert.tsx
  packages/sqi-web/src/button/Button.tsx
  packages/sqi-web/src/config-provider/ConfigProvider.tsx
  packages/sqi-web/src/space/Space.tsx
  umd-test.html
Due: eslint --fix --cache, prettier --write

deploy: ea2a46e8976bd471dde3f6c451f1c3df687d64b1
  404.html
  blog/tech/index.html
  components/alert/index.html
  components/button/index.html
  components/config-provider/index.html
  components/divider/index.html
  components/icon/index.html
  components/space/index.html
  guide/getting-started/index.html
  index.html
  meta__.1852b00c.async.js
  meta__.637e42a4.async.js
  umi.4e35d05f.js
  ~demos/:id/index.html
  ~demos/sqi-web-src-alert-demo-action/index.html
  ~demos/sqi-web-src-alert-demo-base/index.html
  ~demos/sqi-web-src-alert-demo-type/index.html
  ~demos/sqi-web-src-button-demo-base/index.html
  ~demos/sqi-web-src-button-demo-disabled/index.html
  ~demos/sqi-web-src-button-demo-loading/index.html
  ~demos/sqi-web-src-button-demo-size/index.html
  ~demos/sqi-web-src-button-demo-variant/index.html
  ~demos/sqi-web-src-config-provider-demo-base/index.html
  ~demos/sqi-web-src-config-provider-demo-nest/index.html
  ~demos/sqi-web-src-divider-demo-base/index.html
  ~demos/sqi-web-src-divider-demo-vertical/index.html
  ~demos/sqi-web-src-divider-demo-with-text/index.html
  ~demos/sqi-web-src-icon-demo-base/index.html
  ~demos/sqi-web-src-icon-demo-color/index.html
  ~demos/sqi-web-src-icon-demo-custom/index.html
  ~demos/sqi-web-src-space-demo-align/index.html
  ~demos/sqi-web-src-space-demo-base/index.html
  ~demos/sqi-web-src-space-demo-direction-vertical/index.html
  ~demos/sqi-web-src-space-demo-split/index.html
  ~demos/sqi-web-src-space-demo-wrap/index.html
Due: none

feat: high react version, build js rename .js
  packages/sqi-hooks/package.json
  packages/sqi-hooks/rslib.config.ts
  packages/sqi-icons/package.json
  packages/sqi-icons/rslib.config.ts
  packages/sqi-utils/package.json
  packages/sqi-utils/rslib.config.ts
  packages/sqi-web/package.json
  tsconfig.json
Due: eslint --fix --cache, prettier --write

fix: lockfile
  pnpm-lock.yaml
Due: none

doc: update doc
  packages/sqi-dumi/docs/guide/getting-started.md
  packages/sqi-web/README.md
Due: prettier --write

deploy: 5c71ec10484700bf36cc9204cb5e449bacd00e6b
  404.html
  blog/tech/index.html
  components/alert/index.html
  components/button/index.html
  components/config-provider/index.html
  components/divider/index.html
  components/icon/index.html
  components/space/index.html
  docs__guide__getting-started.md.a06bb018.async.js
  docs__guide__getting-started.md.c869f71c.async.js
  guide/getting-started/index.html
  index.html
  meta__docs.356913cb.async.js
  meta__docs.d793507e.async.js
  preload_helper.770186ee.js
  preload_helper.ec7f133d.js
  umi.48f543ed.js
  ~demos/:id/index.html
  ~demos/sqi-web-src-alert-demo-action/index.html
  ~demos/sqi-web-src-alert-demo-base/index.html
  ~demos/sqi-web-src-alert-demo-type/index.html
  ~demos/sqi-web-src-button-demo-base/index.html
  ~demos/sqi-web-src-button-demo-disabled/index.html
  ~demos/sqi-web-src-button-demo-loading/index.html
  ~demos/sqi-web-src-button-demo-size/index.html
  ~demos/sqi-web-src-button-demo-variant/index.html
  ~demos/sqi-web-src-config-provider-demo-base/index.html
  ~demos/sqi-web-src-config-provider-demo-nest/index.html
  ~demos/sqi-web-src-divider-demo-base/index.html
  ~demos/sqi-web-src-divider-demo-vertical/index.html
  ~demos/sqi-web-src-divider-demo-with-text/index.html
  ~demos/sqi-web-src-icon-demo-base/index.html
  ~demos/sqi-web-src-icon-demo-color/index.html
  ~demos/sqi-web-src-icon-demo-custom/index.html
  ~demos/sqi-web-src-space-demo-align/index.html
  ~demos/sqi-web-src-space-demo-base/index.html
  ~demos/sqi-web-src-space-demo-direction-vertical/index.html
  ~demos/sqi-web-src-space-demo-split/index.html
  ~demos/sqi-web-src-space-demo-wrap/index.html
Due: none

doc: update doc and update umd example
  README.md
  packages/sqi-dumi/docs/blog/tech.md
  packages/sqi-web/README.md
  umd-test.html
Due: prettier --write

deploy: 1f8a6b4b49b0781c7ce392be9e7868142ce0128c
  404.html
  blog/tech/index.html
  components/alert/index.html
  components/button/index.html
  components/config-provider/index.html
  components/divider/index.html
  components/icon/index.html
  components/space/index.html
  docs__blog__tech.md.4e274928.async.js
  docs__blog__tech.md.bf372a45.async.js
  guide/getting-started/index.html
  index.html
  meta__docs.356913cb.async.js
  meta__docs.7c294853.async.js
  preload_helper.770186ee.js
  preload_helper.7e329339.js
  umi.6d3312de.js
  ~demos/:id/index.html
  ~demos/sqi-web-src-alert-demo-action/index.html
  ~demos/sqi-web-src-alert-demo-base/index.html
  ~demos/sqi-web-src-alert-demo-type/index.html
  ~demos/sqi-web-src-button-demo-base/index.html
  ~demos/sqi-web-src-button-demo-disabled/index.html
  ~demos/sqi-web-src-button-demo-loading/index.html
  ~demos/sqi-web-src-button-demo-size/index.html
  ~demos/sqi-web-src-button-demo-variant/index.html
  ~demos/sqi-web-src-config-provider-demo-base/index.html
  ~demos/sqi-web-src-config-provider-demo-nest/index.html
  ~demos/sqi-web-src-divider-demo-base/index.html
  ~demos/sqi-web-src-divider-demo-vertical/index.html
  ~demos/sqi-web-src-divider-demo-with-text/index.html
  ~demos/sqi-web-src-icon-demo-base/index.html
  ~demos/sqi-web-src-icon-demo-color/index.html
  ~demos/sqi-web-src-icon-demo-custom/index.html
  ~demos/sqi-web-src-space-demo-align/index.html
  ~demos/sqi-web-src-space-demo-base/index.html
  ~demos/sqi-web-src-space-demo-direction-vertical/index.html
  ~demos/sqi-web-src-space-demo-split/index.html
  ~demos/sqi-web-src-space-demo-wrap/index.html
Due: none

feat: support passing in `ref`"
  packages/sqi-web/src/alert/Alert.tsx
  packages/sqi-web/src/button/Button.tsx
  packages/sqi-web/src/divider/Divider.tsx
  packages/sqi-web/src/space/Space.tsx
Due: eslint --fix --cache, prettier --write

deploy: 4c3e93e94b2d435f1a95bb088aa1c810d60da8ad
  404.html
  blog/tech/index.html
  components/alert/index.html
  components/button/index.html
  components/config-provider/index.html
  components/divider/index.html
  components/icon/index.html
  components/space/index.html
  guide/getting-started/index.html
  index.html
  meta__.0df2a2bb.async.js
  meta__.4c3bdbba.async.js
  umi.671efda0.js
  ~demos/:id/index.html
  ~demos/sqi-web-src-alert-demo-action/index.html
  ~demos/sqi-web-src-alert-demo-base/index.html
  ~demos/sqi-web-src-alert-demo-type/index.html
  ~demos/sqi-web-src-button-demo-base/index.html
  ~demos/sqi-web-src-button-demo-disabled/index.html
  ~demos/sqi-web-src-button-demo-loading/index.html
  ~demos/sqi-web-src-button-demo-size/index.html
  ~demos/sqi-web-src-button-demo-variant/index.html
  ~demos/sqi-web-src-config-provider-demo-base/index.html
  ~demos/sqi-web-src-config-provider-demo-nest/index.html
  ~demos/sqi-web-src-divider-demo-base/index.html
  ~demos/sqi-web-src-divider-demo-vertical/index.html
  ~demos/sqi-web-src-divider-demo-with-text/index.html
  ~demos/sqi-web-src-icon-demo-base/index.html
  ~demos/sqi-web-src-icon-demo-color/index.html
  ~demos/sqi-web-src-icon-demo-custom/index.html
  ~demos/sqi-web-src-space-demo-align/index.html
  ~demos/sqi-web-src-space-demo-base/index.html
  ~demos/sqi-web-src-space-demo-direction-vertical/index.html
  ~demos/sqi-web-src-space-demo-split/index.html
  ~demos/sqi-web-src-space-demo-wrap/index.html
Due: none

feat(Row): add Row base component
  packages/sqi-dumi/docs/blog/css-flex.md
  packages/sqi-utils/src/canUseDom.ts
  packages/sqi-utils/src/index.ts
  packages/sqi-utils/src/is.ts
  packages/sqi-web/src/_util/responsiveObserve.ts
  packages/sqi-web/src/config-provider/type.ts
  packages/sqi-web/src/grid/Col.tsx
  packages/sqi-web/src/grid/Row.tsx
  packages/sqi-web/src/grid/context.ts
  packages/sqi-web/src/grid/index.ts
  packages/sqi-web/src/grid/style/index.scss
  packages/sqi-web/src/grid/style/index.ts
  packages/sqi-web/src/grid/style/row.scss
  packages/sqi-web/src/grid/type.ts
Due: eslint --fix --cache, prettier --write

chore(deps): update all dependencies
  examples/with-next/package.json
  examples/with-rsbuild/package.json
  package.json
  packages/sqi-dumi/package.json
  packages/sqi-hooks/package.json
  packages/sqi-icons/package.json
  packages/sqi-web/package.json
  pnpm-lock.yaml
Due: prettier --write

fix: multiple pnpm version
  .github/workflows/gh-pages.yml
Due: none

Path conditions:
  eslint --fix --cache: any of: packages/**/*.{js,jsx,ts,tsx}
  prettier --write: ((any of: packages/**/*.{js,jsx,ts,tsx}) or (any of: packages/**/package.json)) or (any of: **/*.md)
