Repository json-q/sqi-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache, prettier --write

docs: improve input document
  packages/sqi-dumi/.dumi/global.css
  packages/sqi-web/src/input/Input.tsx
  packages/sqi-web/src/input/demos/max-length.tsx
  packages/sqi-web/src/input/index.md
Due: eslint --fix --cache, prettier --write

docs: app api table
  packages/sqi-icons/src/components/Icon.tsx
  packages/sqi-web/src/alert/index.md
  packages/sqi-web/src/button/index.md
  packages/sqi-web/src/config-provider/index.md
  packages/sqi-web/src/divider/index.md
  packages/sqi-web/src/grid/index.md
  packages/sqi-web/src/icon/index.md
  packages/sqi-web/src/input/Input.tsx
  packages/sqi-web/src/input/demos/max-length.tsx
  packages/sqi-web/src/input/index.md
  packages/sqi-web/src/space/index.md
Due: eslint --fix --cache, prettier --write

docs: improve document (#11)
  packages/sqi-dumi/.dumi/global.css
  packages/sqi-icons/src/components/Icon.tsx
  packages/sqi-web/src/alert/index.md
  packages/sqi-web/src/button/index.md
  packages/sqi-web/src/config-provider/index.md
  packages/sqi-web/src/divider/index.md
  packages/sqi-web/src/grid/index.md
  packages/sqi-web/src/icon/index.md
  packages/sqi-web/src/input/Input.tsx
  packages/sqi-web/src/input/demos/max-length.tsx
  packages/sqi-web/src/input/index.md
  packages/sqi-web/src/space/index.md
Due: eslint --fix --cache, prettier --write

feat(Input): support tips
  packages/sqi-web/src/input/Input.tsx
  packages/sqi-web/src/input/demos/tips.tsx
  packages/sqi-web/src/input/index.md
  packages/sqi-web/src/input/style/_mixin.scss
  packages/sqi-web/src/input/style/index.scss
  packages/sqi-web/src/input/type.ts
Due: eslint --fix --cache, prettier --write

fix: remove npm mirror
  .npmrc
Due: none

chore(deps): update dependencies
  examples/with-next/package.json
  examples/with-rsbuild/package.json
  package.json
  packages/sqi-dumi/package.json
  packages/sqi-hooks/package.json
  packages/sqi-icons/package.json
  packages/sqi-web/package.json
  pnpm-lock.yaml
Due: prettier --write

chore: migration svgo to v4
  packages/sqi-icons/package.json
  pnpm-lock.yaml
Due: prettier --write

fix: dev error from upgrade rslib (#12)
  .npmrc
  examples/with-next/package.json
  examples/with-rsbuild/package.json
  package.json
  packages/sqi-dumi/package.json
  packages/sqi-hooks/package.json
  packages/sqi-icons/package.json
  packages/sqi-web/package.json
  pnpm-lock.yaml
Due: prettier --write

feat(Input): support readOnly
  .npmrc
  packages/sqi-web/src/input/Input.tsx
  packages/sqi-web/src/input/demos/base.tsx
Due: eslint --fix --cache, prettier --write

feat(Radio): add new component
  packages/sqi-web/src/config-provider/type.ts
  packages/sqi-web/src/radio/Radio.tsx
  packages/sqi-web/src/radio/RadioGroup.tsx
  packages/sqi-web/src/radio/index.md
  packages/sqi-web/src/radio/index.ts
  packages/sqi-web/src/radio/style/_var.scss
  packages/sqi-web/src/radio/style/index.scss
  packages/sqi-web/src/radio/style/index.ts
  packages/sqi-web/src/radio/type.ts
  packages/sqi-web/src/style/_variables.scss
Due: eslint --fix --cache, prettier --write

feat: add radio base component
  eslint.config.mjs
  packages/sqi-web/src/_common/BaseCheckbox.tsx
  packages/sqi-web/src/index.ts
  packages/sqi-web/src/radio/Radio.tsx
  packages/sqi-web/src/radio/demos/base.tsx
  packages/sqi-web/src/radio/index.md
  packages/sqi-web/src/radio/index.ts
  packages/sqi-web/src/radio/style/_var.scss
  packages/sqi-web/src/radio/style/index.scss
  packages/sqi-web/src/radio/style/index.ts
  packages/sqi-web/src/radio/type.ts
Due: eslint --fix --cache, prettier --write

format: clean code
  package.json
  packages/sqi-web/src/_common/BaseCheckbox.tsx
  packages/sqi-web/src/radio/demos/base.tsx
Due: eslint --fix --cache, prettier --write

feat: add base component: radio button
  packages/sqi-utils/src/is.ts
  packages/sqi-web/src/_common/BaseCheckbox.tsx
  packages/sqi-web/src/config-provider/type.ts
  packages/sqi-web/src/radio/Radio.tsx
  packages/sqi-web/src/radio/RadioButton.tsx
  packages/sqi-web/src/radio/RadioGroup.tsx
  packages/sqi-web/src/radio/context.ts
  packages/sqi-web/src/radio/demos/base.tsx
  packages/sqi-web/src/radio/demos/theme.tsx
  packages/sqi-web/src/radio/index.md
  packages/sqi-web/src/radio/index.ts
  packages/sqi-web/src/radio/style/_mixin.scss
  packages/sqi-web/src/radio/style/_var.scss
  packages/sqi-web/src/radio/style/button.scss
  packages/sqi-web/src/radio/style/group.scss
  packages/sqi-web/src/radio/style/index.scss
  packages/sqi-web/src/radio/style/radio.scss
  packages/sqi-web/src/radio/type.ts
Due: eslint --fix --cache, prettier --write

feat: support group `disabled` and `size`
  packages/sqi-web/src/radio/Radio.tsx
  packages/sqi-web/src/radio/RadioGroup.tsx
  packages/sqi-web/src/radio/demos/appearance.tsx
  packages/sqi-web/src/radio/demos/disabled.tsx
  packages/sqi-web/src/radio/demos/size.tsx
  packages/sqi-web/src/radio/demos/theme.tsx
  packages/sqi-web/src/radio/demos/vertical.tsx
  packages/sqi-web/src/radio/index.md
  packages/sqi-web/src/radio/style/button.scss
  packages/sqi-web/src/radio/style/radio.scss
  packages/sqi-web/src/radio/type.ts
Due: eslint --fix --cache, prettier --write

feat: support option
  packages/sqi-web/src/radio/RadioGroup.tsx
  packages/sqi-web/src/radio/demos/appearance.tsx
  packages/sqi-web/src/radio/demos/options.tsx
  packages/sqi-web/src/radio/index.md
  packages/sqi-web/src/radio/type.ts
Due: eslint --fix --cache, prettier --write

feat: add radio component (#13)
  eslint.config.mjs
  package.json
  packages/sqi-utils/src/is.ts
  packages/sqi-web/src/_common/BaseCheckbox.tsx
  packages/sqi-web/src/config-provider/type.ts
  packages/sqi-web/src/index.ts
  packages/sqi-web/src/radio/Radio.tsx
  packages/sqi-web/src/radio/RadioButton.tsx
  packages/sqi-web/src/radio/RadioGroup.tsx
  packages/sqi-web/src/radio/context.ts
  packages/sqi-web/src/radio/demos/appearance.tsx
  packages/sqi-web/src/radio/demos/base.tsx
  packages/sqi-web/src/radio/demos/disabled.tsx
  packages/sqi-web/src/radio/demos/options.tsx
  packages/sqi-web/src/radio/demos/size.tsx
  packages/sqi-web/src/radio/demos/vertical.tsx
  packages/sqi-web/src/radio/index.md
  packages/sqi-web/src/radio/index.ts
  packages/sqi-web/src/radio/style/_mixin.scss
  packages/sqi-web/src/radio/style/_var.scss
  packages/sqi-web/src/radio/style/button.scss
  packages/sqi-web/src/radio/style/group.scss
  packages/sqi-web/src/radio/style/index.scss
  packages/sqi-web/src/radio/style/index.ts
  packages/sqi-web/src/radio/style/radio.scss
  packages/sqi-web/src/radio/type.ts
  packages/sqi-web/src/style/_variables.scss
Due: eslint --fix --cache, prettier --write

fix(workflow): change cd
  .github/workflows/gh-pages.yml
Due: none

docs: typo
  packages/sqi-web/src/radio/index.md
Due: prettier --write

fix: with-nextjs missing tailwindcss
  examples/with-next/package.json
  examples/with-next/src/app/globals.css
  examples/with-next/src/app/page.tsx
  pnpm-lock.yaml
Due: none

chore: move tw to devDependencies
  examples/with-next/package.json
  pnpm-lock.yaml
Due: none

chore(deps): update all dependencies
  examples/with-next/package.json
  examples/with-rsbuild/package.json
  package.json
  packages/sqi-icons/package.json
  pnpm-lock.yaml
Due: prettier --write

fix: radio typo
  packages/sqi-web/src/_common/BaseCheckbox.tsx
Due: eslint --fix --cache, prettier --write

docs: improve doc (#14)
  examples/with-next/package.json
  examples/with-next/src/app/globals.css
  examples/with-next/src/app/page.tsx
  examples/with-rsbuild/package.json
  package.json
  packages/sqi-icons/package.json
  packages/sqi-web/src/_common/BaseCheckbox.tsx
  pnpm-lock.yaml
Due: eslint --fix --cache, prettier --write

doc: improve radio doc
  packages/sqi-web/src/radio/index.md
Due: prettier --write

docs: improve radio doc (#15)
  packages/sqi-web/src/radio/index.md
Due: prettier --write

feat: support custom render
  eslint.config.mjs
  packages/sqi-web/src/_common/BaseCheckbox.tsx
  packages/sqi-web/src/radio/Radio.tsx
  packages/sqi-web/src/radio/demos/custom-render.tsx
  packages/sqi-web/src/radio/index.md
  packages/sqi-web/src/radio/type.ts
Due: eslint --fix --cache, prettier --write

feat(Radio): support custom render (#16)
  eslint.config.mjs
  packages/sqi-web/src/_common/BaseCheckbox.tsx
  packages/sqi-web/src/radio/Radio.tsx
  packages/sqi-web/src/radio/demos/custom-render.tsx
  packages/sqi-web/src/radio/index.md
  packages/sqi-web/src/radio/type.ts
Due: eslint --fix --cache, prettier --write

feat(Radio): support custom render in options
  packages/sqi-web/src/radio/RadioGroup.tsx
  packages/sqi-web/src/radio/demos/options.tsx
  packages/sqi-web/src/radio/type.ts
Due: eslint --fix --cache, prettier --write

feat(Radio): support custom render in options (#18)
  packages/sqi-web/src/radio/RadioGroup.tsx
  packages/sqi-web/src/radio/demos/options.tsx
  packages/sqi-web/src/radio/type.ts
Due: eslint --fix --cache, prettier --write

Path conditions:
  eslint --fix --cache: any of: packages/**/*.{js,jsx,ts,tsx}
  prettier --write: ((any of: packages/**/*.{js,jsx,ts,tsx}) or (any of: packages/**/package.json)) or (any of: **/*.md)
